<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->


  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-topbar></app-topbar>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Add car</h1>
          <a routerLink="/cars" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Back</a>
        </div>

        <!-- Content Row -->

        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <form [formGroup]="formAddCar" (ngSubmit)="addCar()" class="p-5 bg-white ">
                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black" for="matricule">Matricule</label>
                    <input formControlName="matricule" type="text" id="matricule" class="form-control rounded-0">

                    <div *ngIf="mymatricule.touched && mymatricule.invalid" class="text-danger text-sm">
                      <div *ngIf="mymatricule.errors.required">required</div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="text-black" for="lname">Marque</label>
                    <input formControlName="marque" type="text" id="lname" class="form-control rounded-0">

                    <div *ngIf="mymarque.touched && mymarque.invalid" class="text-danger text-sm">
                      <div *ngIf="mymarque.errors.required">required</div>
                    </div>
                  </div>
                </div>

                <div class="row form-group">

                  <div class="col-md-12">
                    <label class="text-black" for="color">Color</label>
                    <input formControlName="color" type="text" id="color" class="form-control rounded-0">

                    <div *ngIf="mycolor.touched && mycolor.invalid" class="text-danger text-sm">
                      <div *ngIf="mycolor.errors.required">required</div>
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <input type="submit" value="Add car" [disabled]="formAddCar.invalid"
                      class="btn btn-primary mr-2 mb-2">
                  </div>
                </div>


              </form>
              <!-- Card Body -->
              <div class="card-body">
                <div class="chart-area">

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2019</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->