<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->
  
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
  
      <!-- Main Content -->
      <div id="content">
  
        <!-- Topbar -->
                <!-- Topbar -->
                <app-topbar></app-topbar>
                <!-- End of Topbar -->
        <!-- End of Topbar -->
  
        <!-- Begin Page Content -->
        <div class="container-fluid">
  
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add user</h1>
            <a routerLink="/users" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Back</a>
          </div>
  
          <!-- Content Row -->
  
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <form [formGroup]="formRegister" (ngSubmit)="registerUser()" class="p-5 bg-white ">
                    <div class="row form-group">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="fname">First Name</label>
                        <input formControlName="firstname" type="text" id="fname" class="form-control rounded-0">
    
                        <div *ngIf="myFirstName.touched && myFirstName.invalid" class="text-danger text-sm">
                          <div *ngIf="myFirstName.errors.pattern">invalid</div>
                          <div *ngIf="myFirstName.errors.required">required</div>
                          <div *ngIf="myFirstName.errors.minlength">must contains at least 2 character</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="text-black" for="lname">Last Name</label>
                        <input formControlName="lastname" type="text" id="lname" class="form-control rounded-0">
    
                        <div *ngIf="myLastName.touched && myLastName.invalid" class="text-danger text-sm">
                          <div *ngIf="myLastName.errors.pattern">invalid</div>
                          <div *ngIf="myLastName.errors.required">required</div>
                          <div *ngIf="myLastName.errors.minlength">must contains at least 2 character</div>
                        </div>
                      </div>
                    </div>
      
                    <div class="row form-group">
                      
                      <div class="col-md-12">
                        <label class="text-black" for="email">Email</label> 
                        <input formControlName="email" type="email" id="email" class="form-control rounded-0">
    
                        <div *ngIf="myEmail.touched && myEmail.invalid" class="text-danger text-sm">
                          <div *ngIf="myEmail.errors.email">invalid</div>
                          <div *ngIf="myEmail.errors.required">required</div>
                          <div *ngIf="myEmail.errors.minlength">must contains at least 2 character</div>
                        </div>
                      </div>
                    </div>
      
                    <div class="row form-group">
                      
                      <div class="col-md-12">
                        <label class="text-black" for="phone">Phone</label> 
                        <input formControlName="phone" type="text" id="phone" class="form-control rounded-0">
    
                        <div *ngIf="myPhone.touched && myPhone.invalid" class="text-danger text-sm">
                          <div *ngIf="myPhone.errors.pattern">invalid</div>
                          <div *ngIf="myPhone.errors.required">required</div>
                          <div *ngIf="myPhone.errors.minlength || myPhone.errors.maxlength">must contains 8 number</div>
                        </div>
                      </div>
                    </div>
      
                    <div class="row form-group">
                      <div class="col-md-6">
                        <label class="text-black" for="password">Password</label> 
                        <input formControlName="password" type="password" id="password" class="form-control rounded-0">
    
                        <div *ngIf="myPassword.touched && myPassword.invalid" class="text-danger text-sm">
                          <div *ngIf="myPassword.errors.required">required</div>
                          <div *ngIf="myPassword.errors.minlength">must contains at least 8 character</div>
                        </div>
                      </div>
    
                      <div class="col-md-6">
                        <label class="text-black" for="Confirmpassword">Confirm Password</label> 
                        <input formControlName="confirmPassword" type="password" id="ConfirmPassword" class="form-control rounded-0">
    
                        <div *ngIf="myPassword2.touched && myPassword2.invalid" class="text-danger text-sm">
                          <div *ngIf="myPassword2.errors.required">required</div>
                        </div>
                        <div *ngIf="myPassword2.touched && (myPassword2.value != myPassword.value) " class="text-danger text-sm">password do not match</div>
                      </div>
                    </div>
      
                    <div class="row form-group">
                      <div class="col-md-12">
                        <input type="submit" value="Add" [disabled]="formRegister.invalid || (myPassword2.value != myPassword.value)" class="btn btn-primary mr-2 mb-2">
                      </div>
                    </div>
      
        
                  </form>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <!-- /.container-fluid -->
  
      </div>
      <!-- End of Main Content -->
  
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
  
    </div>
    <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
