<div class="site-wrap"  id="home-section">

    <!--header-->
    <app-header></app-header>

    <div class="site-section bg-image2 overlay" id="contact-section" style="background-image: url('assets/images/hero_1.jpg');">
      <div class="container">
        
        <div class="row justify-content-center">
          <div class="col-lg-7 mb-5">

            

            <form [formGroup]="formLogin" (ngSubmit)="logIn()" class="p-5 bg-white my-5">
              
              <h2 class="h4 text-black mb-5">Log in Form</h2> 

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input formControlName="email" type="email" id="email" class="form-control rounded-0">

                  <div *ngIf="logemail.touched && logemail.invalid" class="text-danger text-sm">
                    <div *ngIf="logemail.errors.email">invalid</div>
                    <div *ngIf="logemail.errors.required">required</div>
                    <div *ngIf="logemail.errors.minlength">must contains at least 2 character</div>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="password">Password</label> 
                  <input formControlName="password" type="password" id="password" class="form-control rounded-0">

                  <div *ngIf="logpassword.touched && logpassword.invalid" class="text-danger text-sm">
                    <div *ngIf="logpassword.errors.required">required</div>
                    <div *ngIf="logpassword.errors.minlength">must contains at least 8 character</div>
                  </div>
                </div>
              </div>

              

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Log in" class="btn btn-primary mr-2 mb-2">
                </div>
              </div>

  
            </form>
          </div>
        
        </div>
        
      </div>
    </div>


    <!--footer-->
    <app-footer></app-footer>
</div> <!-- .site-wrap -->
