<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" routerLink="/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Nav Item - User -->
    <li *ngIf='isAdmin' class="nav-item active">
        <a class="nav-link" routerLink="/users">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Gestion des users</span></a>
      </li>

      <!-- Nav Item - User -->
    <li *ngIf='isAdmin' class="nav-item active">
        <a class="nav-link" routerLink="/cars">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Gestion des vehicules</span></a>
      </li>

      <!-- Nav Item - User -->
    <li *ngIf='isAdmin' class="nav-item active">
        <a class="nav-link" routerLink="/monitors">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Gestion des moniteurs</span></a>
      </li>

      <!-- Nav Item - moniteurs -->
      <li *ngIf='isMonitor' class="nav-item active">
        <a class="nav-link" routerLink="/meet-moniteur">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Rendez vous moniteurs</span></a>
      </li>

      <!-- Nav Item - user -->
      <li *ngIf='isUser' class="nav-item active">
        <a class="nav-link" routerLink="/meet-user">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Rendez vous users</span></a>
      </li>
    

  </ul>
  <!-- End of Sidebar -->
